{% extends "base.html" %}
{% block content %}
    <div class="container m-auto">
        <div class="row">
            <div class="col-md-5 col-lg-5 col-xl-5 m-5 bg-secondary border rounded">
                <h1>Change Profile</h1>
                <form class="form form-horizontal" method="post" >
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary mt-2 mb-2" value="Update"/>
                    {{ form.errors }}
                </form>
            </div>

            <div class="mh-100 mw-100 float-right col-md-5 col-lg-5 col-xl-5 m-5  bg-secondary border border-info" >
                <img src="{{ user.profile.profile_image }}" class="profile-image rounded m-2"/>
                <div>{{ user.profile.name }}</div>
            </div>
        </div>
    </div>
{% endblock %}