{% extends "base.html" %}
{% block content %}
    <div class="container m-auto captain">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12 m-12 captain border rounded">
                <h1>Change Profile</h1>
                <form class="form form-horizontal" method="post" >
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="btn btn-primary mt-2 mb-2" value="Update"/>
                    {{ form.errors }}
                </form>
            </div>

            <div class="text-center card-box col-md-12 col-lg-12 col-xl-12 m-12 mt-2">
                <div class="member-card">
                    <div class="thumb-xl member-thumb m-b-10 center-block">
                        <img src="{{ user.profile.profile_image }}" class="img-circle img-thumbnail" alt="profile-image">
                    </div>

                    <div class="">
                        <h4 class="m-b-5">{{ user.profile.FirstName }} {{ user.profile.LastName }}</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}