{% extends "base.html" %}
{% block content %}
    <div>
        <h2>Search History</h2>
    </div>
    {% if queries %}
    <div class="mb-2">
        {% for query in queries %}
            <li class="list-group-item align-items-center justify-content-between">
                <a class="noUnderline" href="/search/?search={{query.query}}">{{query.query}}</a>
            </li>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <p>You have no search history</p>
    </div>
    {% endif %}
    <button onclick="" ><a  href="{% url 'deleteHistory' %}">Delete History</a></button>
{% endblock %}