{% extends "base.html" %}
{% block content %}
    <div>
        <h2>Search History</h2>
    </div>
    {% if queries %}
    <div class="mb-2">
        {% for query in queries %}
            <li class=" list-group-item align-items-center justify-content-between">
                <div><a class="text-secondary" href="/search/?search={{query.query}}">{{query.query}}</a><div class="float-right"> {{ query.date }}</div></div>
            </li>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <p>You have no search history</p>
    </div>
    {% endif %}
    <a class="btn btn-danger" href="{% url 'deleteHistory' %}">Delete History</a>
{% endblock %}