{% extends "base.html" %}

{% block content %}

{% for item in cartitems %}
    <ul class="list-group">
    {% if user.is_authenticated %}
        <li class="list-group-item align-items-center justify-content-between">
            Product: <a href="/{{ item.data.pk }}">{{ item.data.name }}</a> Total Price: {{ item.total }}
            <span class="badge badge-primary badge-pill">{{ item.qty }}</span>
            <button onclick="deleteFromCart({{ item.data.id }});" class="btn btn-danger btn-sm float-right" >
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </li>
    {% endif  %}
    </ul>

{% endfor %}
    <br>
            <h3 class="">Total: $ {{ cartTotal }}</h3>
            <br>
            <button onclick="window.location.href = '/checkout' " class="float-left btn btn-success" >Checkout</button>


{% endblock %}