.captain{
    background-color: #5a8299;
    color: white;
}

.text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    text-align: left;
    width: 80%;
    color: white;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

nav .navbar-nav li a{
  color: white !important;
}

nav a{
    color:white !important;
}

.card-body {
    width: 100%;
}

.fit-image{
width: 100%;
object-fit: cover;
/*height: 300px;*/
}

.noUnderline{
    text-decoration: none; !important;
    color: white; !important;
}



ul li a{
    text-decoration: none;
    color: black;
}

#addedToCartDivHome{
    position: absolute;
    top: 4rem;
    right: 4rem;
}


.addToCart{

   margin-left:auto;
   margin-right:auto;
   bottom: 0;
    right: 0;

}




