.captain{
    background-color: #5a8299;
    color: white;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

nav .navbar-nav li a{
  color: white !important;
}

nav a{
    color:white !important;
}

.card-body {
    width: 100%;
}

.fit-image{
width: 100%;
object-fit: cover;
height: 300px;
}






