{% extends "base.html" %}
{% block content %}
{% load i18n %}

  <div>
    <div class="text-center">
      <h2>Payment form</h2>
    </div>

    <div class="row">
      <div class="col-md-12 order-md-2 mb-4 p-0">
        <form action="" method="post">
          {% csrf_token %}
            <div class="row justify-content-center">
              <div class="col-auto">
                <table class="table table-responsive">
                  {{ form }}
                </table>
              </div>
            </div>
          <input type="submit" class="btn btn-primary mt-2 mb-2 float-right" value="Checkout"/>
        </form>
          <a class="btn btn-primary mt-2 mb-2" href="/checkout">Go Back</a>

        {% if error %}
            <div class="alert alert-warning"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ error }}</div>
        {% endif %}
      </div>
    </div>


  </div>


{% endblock %}