{% extends "base.html" %}
{% load i18n %}

<!--<th>First Name: {{ paymentInfo.firstName }}</th>-->
<!--<th>Last Name: {{ paymentInfo.lastName }}</th>-->
<!--<th>Email: {{ paymentInfo.email }}</th>-->
<!--<th>City: {{ paymentInfo.city}}</th>-->
<!--<th>Zip: {{ paymentInfo.zip }}</th>-->
<!--<th>Country: {{ paymentInfo.country}}</th>-->

{% block content %}
    <form action="{% url 'review' %}" method="POST">
        {% csrf_token %}
        <h1>{% trans "Your Order" %}</h1>
        <div>
            <table class="table table-responsive">
                <thead>
                    <tc>
                        <th>First Name:</th>
                        <th>Last Name:</th>
                        <th>Email:</th>
                        <th>City:</th>
                        <th>Zip:</th>
                        <th>Country:</th>
                    </tc>
                </thead>
                <tbody>
                    <tc>
                        <td>{{ paymentInfo.firstName }}</td>
                        <td>{{ paymentInfo.lastName }}</td>
                        <td>{{ paymentInfo.email }}</td>
                        <td>{{ paymentInfo.city}}</td>
                        <td>{{ paymentInfo.zip }}</td>
                        <td>{{ paymentInfo.country}}</td>
                    </tc>
                </tbody>
            </table>
        </div>

        <div>
            <p>Name: {{ cardInfo.cardName }}</p>
            <p>Card ending in {{ cardInfo.cardNumber }}</p>
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
              </h4>
              {% for item in cart.items %}
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">{{ item.product.name }}</h6>
                    <small>Quantity: {{ item.qty }}</small>
                  </div>
                  <span class="text-muted">${{ item.total }}</span>
                </li>
              </ul>
              {% endfor %}
              <span class="badge badge-secondary badge-pill">Total: ${{ cart.orderTotal }}</span>
            </div>

            <div>

                    <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </form>

{% endblock %}