{% extends "base.html" %}
{% load i18n %}

<!--<th>First Name: {{ paymentInfo.firstName }}</th>-->
<!--<th>Last Name: {{ paymentInfo.lastName }}</th>-->
<!--<th>Email: {{ paymentInfo.email }}</th>-->
<!--<th>City: {{ paymentInfo.city}}</th>-->
<!--<th>Zip: {{ paymentInfo.zip }}</th>-->
<!--<th>Country: {{ paymentInfo.country}}</th>-->

{% block content %}
<div class="text-center">
    <form action="{% url 'review' %}" method="POST">
        {% csrf_token %}
        <h2>{% trans "Your Order" %}</h2>

        <div class="row">

            <div class="col-md-4 order-md-2 mb-4">
              <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
              </h4>
              {% for item in cart.items %}
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">{{ item.product.name }}</h6>
                    <small>Quantity: {{ item.qty }}</small>
                  </div>
                  <span class="text-muted">${{ item.total }}</span>
                </li>
              </ul>
              {% endfor %}
                <h2><span class="badge badge-secondary badge-pill">Total: ${{ cart.orderTotal }}</span></h2>
            </div>

            <div class="col-md-6 order-md-2 mb-4 p-0">
                <div class="row justify-content-center">
                    <div class="col-auto " >
                        <h2 class="mb-3">Information</h2>
                        <table class="table table-responsive">
                            <tbody>
                                <tr>
                                    <th>First Name:</th>
                                    <td>{{ paymentInfo.firstName }}</td>
                                </tr>
                                <tr>
                                    <th>Last Name:</th>
                                    <td>{{ paymentInfo.lastName }}</td>
                                </tr>
                                <tr>
                                    <th>Email:</th>
                                    <td>{{ paymentInfo.email }}</td>
                                </tr>
                                <tr>
                                    <th>City:</th>
                                    <td>{{ paymentInfo.city}}</td>
                                </tr>
                                    <tr><th>Zip:</th>
                                    <td>{{ paymentInfo.zip }}</td>
                                </tr>
                                <tr>
                                    <th>Country:</th>
                                    <td>{{ paymentInfo.country }}</td>
                                </tr>
                                <tr>
                                    <th>-</th>
                                    <td></td>
                                </tr>
                                <tr>
                                    <th>Name: </th>
                                    <td>{{ cardInfo.cardName }}</td>
                                </tr>
                                <tr>
                                    <th>Card ending in:</th>
                                    <td>{{ cardInfo.cardNumber }}</td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <button type="submit" class="btn btn-primary mt-2 mb-2 float-right">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>
{% endblock %}